@model _507SA.ModelsVM.UsersListsVM
@{
    ViewBag.Title = "About";
}

<div class="=row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th><p>Фамілія</p></th>
                    <th><p>Ім'я</p></th>
                    <th><p>Телефон</p></th>
                    <th><p>Інформація</p></th>
                </tr>
            </thead>
            <tbody>
               @for (int i = 0; i < Model.AllUsers.Count(); i++)
               {
                    <tr>
                          @Html.HiddenFor(m=>m.AllUsers[i].Id)
                        <td>@Html.DisplayFor(m => m.AllUsers[i].LastName )</td>
                        <td>@Html.DisplayFor(m => m.AllUsers[i].FirstName)</td>
                        <td>@Html.DisplayFor(m => m.AllUsers[i].Phone)</td>
                        <td>@Html.DisplayFor(m => m.AllUsers[i].Info)</td>
                    </tr>}
            </tbody>

        </table>
    </div>
</div>

